<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chat</title>
    <link rel="stylesheet" href="static/bower_components/pure/pure-min.css">
    <link rel="stylesheet" href="static/css/theme.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>
    <div class="chat pure-g">
        <aside class="chat__clients pure-u-1 pure-u-med-1-8">
            <h3 class="chat__clients__title">
                ONLINE
            </h3>
            <div class="chat__clients__list">
                <script type="text/html" class="chat__clients__client--tmpl">
                <section class="chat__clients__client pure-g" data-user-name="<%= name %>" data-user-id="<%= id %>">
                    <div class="pure-u">
                        <i class="chat__clients__client__status chat__clients__client__status--online fa fa-circle"></i>
                    </div>
                    <div class="pure-u-4-5">
                        <h4 class="chat__clients__client__name"><%= name %></h4>
                    </div>
                </section>
                </script>
            </div>
            <div class="chat__clients__settings">
                <h1 class="chat__clients__settings__title">SETTINGS</h1>
                <a class="chat__clients__settings__item" href="#" data-target=".user-profile__modal"><i class="fa fa-user"></i> Profile</a>
                <span class="chat__clients__settings__sep">/</span>
                <a class="chat__clients__settings__item" href="#"><i class="fa fa-power-off"></i> Logout</a>
                </ul>
            </div>
        </aside>
        <div class="chat__messages pure-u-1 pure-u-med-7-8">
            <div class="chat__messages__list">
                <script type="text/html" class="chat__messages__message--tmpl">
                <article class="chat__messages__message <%= fromMe %>" data-user-name="<%= user.name %>" data-user-id="<%= user.id %>" data-post-time="<%= timestamp %>">
                    <h3 class="chat__messages__message__meta">
                        At <span class="chat__messages__timestamp"><%= fuzzyTime %></span> <%= user.name %> said:
                    </h3>
                    <p class="chat__messages__message__content"><%= content %></p>
                </article>
                </script>
            </div>
            <div class="chat__messages__compose">
                <div class="chat__messages__compose__text">
                    <input type="text" class="chat__messages__compose__text-input" placeholder="Yay, just say something!" />
                </div>
            </div>
        </div>
    </div>
    <div class="user-profile__modal modal-wrapper">
        <section class="modal">
            <header class="user-profile__modal__header modal__header">
                <h3>What is your name?</h3>
            </header>
            <article class="user-profile__modal__header modal__content">
                <form class="user-profile__modal__form modal__form pure-form">
                    <input class="pure-input-1" type="text" placeholder="name name name..." autofocus>
                </form>
            </article>
            <footer class="user-profile__modal__footer modal__footer">
                <button type="submit" class="user-profile__modal__cancel-btn pure-button pure-button-danger modal__close-btn">Discard</button>
                <button type="submit" class="user-profile__modal__submit-btn pure-button pure-button-primary pull-right modal__close-btn">Save</button>
            </footer>
        </section>
    </div>
    <script src="/static/bower_components/underscore/underscore.js"></script>
    <script src="/chat/socket.io.js"></script>
    <script src="/static/scripts/app.js"></script>
    <script src="/static/scripts/client.js"></script>
</body>
</html>
