body {
}

.container {
}

.chat {
  width: 650px;
  margin: 120px auto 0;
}

.chat-window,
.chat-clients {
  margin-bottom: 5px;
}

.chat-window {
  padding-right: 15px;
}

.chat-window__bubbles,
.chat-clients__list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.chat-client--is-me {
  color: red;
}

.chat-window__bubbles .chat-client--is-me {
  text-align: right;
}
